
 
<div class="container">
     <h2>Product List </h2>
             
    <table class="table table-striped">
      <thead>
        <tr >
          <th>Product Id</th>
          <th>Product Name</th>
          <th>Product Price </th>
          <th>Product Description </th>
          <th>Product Quantity</th>
          <th>Product Brand </th>
          <th>Product Category </th>
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of  _productlist">
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{product.description}}</td>
          <td>{{product.quantity}}</td>
          <td>{{product.brand}}</td>
          <td>{{product.category}}</td>
          <!---<td>
            <a [routerLink]="['/editproduct', product.id]" class="btn btn-primary">Edit</a>
            <a [routerLink]="['/deleteproduct', product.id]" class="btn btn-primary">Delete</a>
          </td>>-->
        </tr>
       
      </tbody>
    </table>
    <!--<button type="button" class="btn btn-success" >Add new Product </button>-->
  </div>
  