<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="home">Make-U-Up</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="home">HOME</a></li>
      <!--<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>-->
      <li><a routerLink="productlist">LIST</a></li>
      <li><a routerLink="addproduct">ADD</a></li>
      <li><a routerLink="editproduct">EDIT</a></li>
      <li><a routerLink="viewproduct">VIEW</a></li>
      <li><a routerLink="deleteproduct">DELETE</a></li>
      <!---<li><a routerLink="apis">APIs</a></li>
      <li><a routerLink="addcomp">Add Component</a></li>--->
    </ul>
    <!--<ul class="nav navbar-nav navbar-right">
      <li><a routerLink="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a routerLink="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>-->
  
  </div>
</nav>
  
<div>
  <router-outlet></router-outlet>
</div>
